<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    
    <div class="card-wrapper">
        <div class="card">
            <h1 class="center">Create an Account</h1>
            <form name="signup_form">

                <label for="name">Name</label>
                <input type="text" name="name" class="field" required>

                <label for="salary_range">Choose a salary range:</label>
                    <select id="salary_range" name="salary_range" class="field">
                        <option value="less_than_3L"> less than or equal to 2,99,999 </option>
                        <option value="3_to_5L">3,00,000 to 4,99,999</option>
                        <option value="5_to_10L">5,00,000 to 9,99,999</option>
                        <option value="10_to_15L">10,00,000 to 14,99,999</option>
                        <option value="15_to_20L">15,00,000 to 19,99,999</option>
                        <option value="greater_than_20L">greater than or equal to 20,00,000</option>
                </select><br>

                <label for="collar">Type of Collar Job:</label>
                    <select id="collar" name="collar" class="field">
                        <option value="Black_Collar">Black Collar</option>
                        <option value="Blue_Collar">Blue Collar</option>
                        <option value="Gold_Collar">Gold Collar</option>
                        <option value="Green_Collar">Green Collar</option>
                        <option value="Open_Collar">Open Collar</option>
                        <option value="Pink_Collar">Pink Collar</option>
                        <option value="Scarlet_Collar">Scarlet Collar</option>
                        <option value="White_Collar">White Collar</option>
                </select><br>

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign up" class="btn">

            </form>
        </div>

        <div class="card">
            <h1 class="center">Log In</h1>
            <form name="login_form">

                <label for="email">Email</label>
                <input type="email" name="email" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <input type="submit" value="Login up" class="btn">

            </form>
        </div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>