<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandhu - SignUp</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <section class="w-full h-screen p-7 mx-auto">
      <div class="grid grid-cols-1 lg:grid-cols-2 bg-slate-100 rounded-md p-5">
        <div
          class="relative flex items-end px-4 pb-10 pt-60 sm:px-6 sm:pb-16 md:justify-center lg:px-8 lg:pb-24"
        >
          <div class="absolute inset-0">
            <img
              class="h-full w-full rounded-md object-cover"
              src="https://images.unsplash.com/photo-1534120247760-c44c3e4a62f1?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk0fHxkZXNpZ25lcnxlbnwwfHwwfHw%3D&amp;auto=format&amp;fit=crop&amp;w=800&amp;q=60"
              alt=""
            />
          </div>
          <div
            class="absolute inset-0 bg-gradient-to-t from-black to-transparent"
          ></div>
        </div>
        <div
          class="flex items-center justify-center px-4 py-10 sm:px-6 sm:py-16 lg:px-8 lg:py-24"
        >
          <div class="xl:mx-auto xl:w-full xl:max-w-sm 2xl:max-w-md">
            <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl">
              Create an account
            </h2>
            <p class="mt-2 text-sm text-gray-600">
              Already have an account?
              <a
                href="signin.html"
                title=""
                class="font-semibold text-black transition-all duration-200 hover:underline"
              >
                Sign in
              </a>
            </p>
            <form action="#" method="POST" class="mt-8">
              <div class="space-y-5">
                <div>
                  <label for="name" class="text-base font-medium text-gray-900">
                    Full Name
                  </label>
                  <div class="mt-2">
                    <input name="name"
                      class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                      type="text"
                      placeholder="Enter full name"
                    />
                  </div>
                </div>
                <div class="flex gap-10 w-full">
                  <div>
                    <label for="" class="text-base font-medium text-gray-900">
                      Choose a salary range
                    </label>
                    <div class="mt-2">
                      <select class="select select-bordered w-52 max-w-xs">
                        <option disabled selected>--Select--</option>
                        <option>less than or equal to 2,99,999</option>
                        <option>3,00,000 to 4,99,999</option>
                        <option>5,00,000 to 9,99,999</option>
                        <option>10,00,000 to 14,99,999</option>
                        <option>15,00,000 to 19,99,999</option>
                        <option>greater than or equal to 20,00,000</option>
                      </select>
                    </div>
                  </div>
                  <div>
                    <label for="" class="text-base font-medium text-gray-900">
                      Type of Collar Job
                    </label>
                    <div class="mt-2">
                      <select class="select select-bordered w-52 max-w-xs">
                        <option disabled selected>--Select--</option>
                        <option>Black Collar</option>
                        <option>Blue Collar</option>
                        <option>Gold Collar</option>
                        <option>Green Collar</option>
                        <option>Open Collar</option>
                        <option>Pink Collar</option>
                        <option>Scarlet Collar</option>
                        <option>White Collar</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div>
                  <label for="" class="text-base font-medium text-gray-900">
                    Email address
                  </label>
                  <div class="mt-2">
                    <input
                      class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                      type="email"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div>
                  <label for="" class="text-base font-medium text-gray-900">
                    Password
                  </label>
                  <div class="mt-2">
                    <input
                      class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                      type="password"
                      placeholder="Password"
                    />
                  </div>
                </div>
                <div>
                  <label for="name" class="text-base font-medium text-gray-900">
                    Age
                  </label>
                  <div class="mt-2">
                    <input name="name"
                      class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                      type="text"
                      placeholder="Enter age"
                    />
                  </div>
                </div>
                <div>
                  <label for="name" class="text-base font-medium text-gray-900">
                    City
                  </label>
                  <div class="mt-2">
                    <input name="name"
                      class="flex h-10 w-full rounded-md border border-gray-300 bg-transparent px-3 py-2 text-sm placeholder:text-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-50"
                      type="text"
                      placeholder="Enter city"
                    />
                  </div>
                </div>
                <div>
                  <label for="" class="text-base font-medium text-gray-900">
                    Qualification
                  </label>
                  <div class="mt-2">
                    <select class="select select-bordered w-full max-w-xs">
                      <option disabled selected>--Select--</option>
                      <option>SSC</option>
                      <option>HSC</option>
                      <option>Diploma</option>
                      <option>Under Graduate</option>
                      <option>Post Graduate</option>
                      <option>Ph.d</option>
                      
                    </select>
                  </div>
                </div>
                <div>
                  <button
                    type="button"
                    class="inline-flex w-full items-center justify-center rounded-md bg-black px-3.5 py-2.5 font-semibold leading-7 text-white hover:bg-black/80"
                  >
                    Get started
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="ml-2"
                    >
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
